body {
    background: #eeefed;
}

a {
    text-decoration: none;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding-top: 25px;
}

h1 {
    position: relative;
    text-align: center;
    color: #353535;
    font-size: 50px;
    font-family: "Calibri", sans-serif;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 18px;
    color: #676767;
    margin-bottom: 40px;
}

.custom-btn {
    width: 130px;
    height: 40px;
    color: #000;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: block;
    margin: 0 auto 20px; /* Center and add margin to stack vertically */
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

/* Add your custom styles for btn-1, btn-2, and btn-3 */

/* btn-1 styling */

.btn-1:hover {
    background-color: #3e8e41; 
    color:bisque; 
    animation:none;
}

.btn-1:active {
    background-color:#FFDB58;
    color: rgb(157, 90, 7);
    transform: scale(0.98); 
    font-weight: bolder;
    font-size: 0.9em;
    
}

@keyframes pulse {
    0% {color: bisque; background-color: darkolivegreen; box-shadow: 0 0 0 0 rgba(72, 175, 80, 0.4);}
    70% {color: bisque; background-color: darkolivegreen; box-shadow: 0 0 0 10px rgba(72, 175, 80, 0);}
    100% {color: bisque; background-color: darkolivegreen; box-shadow: 0 0 0 0 rgba(72, 175, 80, 0);}
}

.btn-1 {
    animation: pulse 1.5s infinite;
}

/* btn-2 styling */

.btn-2:hover {
    background-color: cadetblue;
    color: aliceblue;
    font-weight: bolder;
    font-size: 0.9em;
    animation: none;
}

.btn-2:active {
    background-color:teal;
    color: aliceblue;
    transform: scale(0.98); 
}

@keyframes multicolor {
0% {color:aliceblue; background:brown}    
25% {color:aliceblue; background:darkolivegreen} 
50% {color:aliceblue; background:darkslategrey } 
100% {color:aliceblue; background:saddlebrown } 
}

.btn-2 {
    animation: multicolor 1s ease 0s infinite alternate both;
}

/* btn-3 styling */

.btn-3:hover {
    background-color:darkviolet; 
    color:bisque; 
    border: darkcyan;
    border-radius: 2px;
    animation:none;
}

.btn-3:active {
    background-color:aqua;
    color: rgb(41, 6, 181);
    transform: scale(0.98); 
    font-weight: bolder;
    font-size: 0.9em;
}

@keyframes redtopink {
    0% {color: bisque; background-color:crimson; border-color: darkblue;}
    70% {color: bisque; background-color:magenta; border-color:brown}
    100% {color: bisque; background-color:lightcoral;border-color:darkorange}
}

.btn-3 {
    animation: redtopink 1s ease 0s infinite alternate both;
}